.services {
    display: grid;
    grid-template-columns: minmax(auto, 400px);
    justify-content: center;
    justify-items: end;
    padding: 52px 40px;
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, var(--complementary-7-color), var(--complementary-8-color));
}

.services > h2 {
    justify-self: center;
    margin-top: 52px;
    margin-bottom: 16px;
    font-family: var(--Montserrat-Black-font);
    font-size: 1.8rem;
    color: var(--white);
}

.circuit-animation {
    grid-row: 2 / 3;
    justify-self: center;
    position: absolute;
    z-index: 0;
}

.list-services {
    margin-top: 40px;
    z-index: 1;
}